<!--The content below is only a placeholder and can be replaced.-->
<div>
<ul>
  <li>
    <a [routerLink]="['login']">Login</a>
  </li>
  <li>
    <a [routerLink]="['registro']">Registro</a>
  </li>
  <li>
    <a [routerLink]="['inicio']">Inicio</a>
  </li>
  <li>
    <a [routerLink]="['sitio',1]">Habitaciones</a>
  </li>
  <li>
    <a  [routerLink]="['sitio','habitacion',1]" >Habitacion</a>
  </li>
  <li>
    <a  [routerLink]="['sitio','habitacion',1,'log']" >Log</a>
  </li>
</ul>

<router-outlet></router-outlet>
