<div class="d-flex justify-content-lg-start">
  <div class="p-2 formulario flex-fill">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>{{sitio.nombre}}</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form
          #formularioBusqueda="ngForm"
          novalidate
          (change)="buscarHabitacion()"
          (input)="buscarHabitacion()"
        >
          <mat-form-field class="full-width">
            <input matInput placeholder="Buscar habitacion" name="nombreBusqueda" id="nombreBusqueda"
                   [(ngModel)]="nombreBusqueda">
          </mat-form-field>

        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


<div class="d-flex">
  <div class="p-2 flex-fill">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Habitacion</th>
        <th>Capacidad</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let habitacion of habitaciones">
        <td>{{habitacion.nombre}}</td>
        <td>{{habitacion.capacidad}}</td>
        <!--
        <td><span *ngIf="verPermiso(sitio)">Administrar</span><span *ngIf="!verPermiso(sitio)">Ver</span></td>
        -->
        <td>
          <button  mat-fab color="primary" [routerLink]="['/','sitio','habitacion',habitacion.id]">Ir</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="p-2 flex-fill">
    <app-tabla-usuarios [idEntidad]="idSitio" [entidadTipo]="'sitio'"></app-tabla-usuarios>
  </div>
</div>


