<div class="d-flex justify-content-center">
  <div class="p-2 formulario">
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <h2 class="text-center">Registrate</h2>
      </div>
    </div>
    <form
      #formularioRegistro="ngForm"
    >
      <mat-form-field class="full-width">
        <input matInput placeholder="Correo electronico" [formControl]="controlEmail" required>
        <mat-error *ngIf="controlEmail.invalid">{{obtenerMensajeErrorCorreo()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nombre" type="text" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Apellido" type="text" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Ingresa tu contraseña" [type]="esconderPassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="esconderPassword = !esconderPassword" >
          <mat-icon>{{esconderPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <div class="p-2">
          <button mat-raised-button color="warn" type="submit" [disabled]="formularioRegistro.invalid">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
