.full-width {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.formulario{
  box-shadow: 2px 2px 2px 5px;
  transition: 1s;
}
.formulario:hover{
  transition: 1s;
  background-color: #d1d3ff;
}
